@charset "utf-8";
@font-face {
  font-family: "iconfont"; /* project id 776597 */
  src: url("//at.alicdn.com/t/font_776597_bpuz6p764bq.eot");
  src: url("//at.alicdn.com/t/font_776597_bpuz6p764bq.eot?#iefix")
      format("embedded-opentype"),
    url("//at.alicdn.com/t/font_776597_bpuz6p764bq.woff") format("woff"),
    url("//at.alicdn.com/t/font_776597_bpuz6p764bq.ttf") format("truetype"),
    url("//at.alicdn.com/t/font_776597_bpuz6p764bq.svg#iconfont") format("svg");
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
//flex布局
@mixin flex($direction, $justify: center, $alignItems: center) {
  display: flex;
  display: -webkit-flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $alignItems;
}
//字体样式
@mixin font(
  $size: 14px,
  $weight: 500,
  $family: "微软雅黑",
  $height: 1.4,
  $color: #000
) {
  font-size: $size;
  font-weight: $weight;
  font-family: $family;
  line-height: $height;
  color: $color;
}
//多行文本溢出
@mixin overflow($num: 1) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $num;
  overflow: hidden;
}
$fontColor: rgb(51, 51, 51);

*{
  margin:0;
  padding:0;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color:$fontColor;
}
#root {
  width: 100%;
  height: 100%;
  .app {
    width: 100%;
    height: 100%;
    /*游戏*/
    //banner
    .banner{
      width:100%;
      height:1.4rem;
      .ant-carousel{
        height:100%;
      }
      .ant-carousel .slick-slide {
        text-align: center;
        height: 1.4rem;
        line-height: 1.4rem;
        background: #364d79;
        overflow: hidden;
      }      
      .ant-carousel .slick-slide h3 {
        color: #fff;
      }
      .ant-carousel .slick-dots li button{
          width:8px;
          height:8px;
          border-radius:4px;
      }
      .ant-carousel .slick-dots li.slick-active button{
        width:8px;
        height:8px;
        border-radius:4px;
      }
    }
  }


  //标签栏
  .game-tabBar{
    width: 100%;
    height: 0.4rem;
    @include flex(row, flex-start, center);
    margin:0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    li {
      flex: 1;
      height:100%;   
      font-size: 16px;
      line-height:1.2;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      a{
        display:block;
        height:100%;
        @include flex(column, center, center);
        color:$fontColor;
        border-bottom:2px solid rgba(120,120,120,0.3);
      }
      .active {
        color: rgb(38, 151, 252);
        border-bottom:2px solid rgb(38, 151, 252);
      }
    }
  }
}
/* 底部导航栏 */
.tabBar {
  z-index: 99999;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.44rem;
  background:white;
  border-top:1px solid rgba(120,120,120,0.3);
  @include flex(row, flex-start, center);
  margin:0;
  li {
    flex: 1;   
    font-size: 12px;
    line-height:1.2;
    a{
      @include flex(column, center, center);
      color:rgb(102, 102, 102);
      .iconfont {
        font-size: 20px;
      }
      .active {
        color: rgb(38, 151, 252);
      }
    }
    .active {
      color: rgb(38, 151, 252);
    }
  }
  
}
